page-preference {
	ion-header {
		background-color: #f8f8f8;
	}
  ion-toolbar,ion-segment {
    background-color: #f8f8f8;
  }
    #marginarea {
    background-color: #f1f0f0;
    height: 10px;
  }

}